<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fresco2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1EDA44AF1AA4CCC70082E08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EDA44CB1AA4CCC70082E08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E71F0E401B0B936200186BAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
